 .editor-container {
  width: 95%;
  text-align: center;
  margin-top: 1em;
}
/*
.editor-container.dragover {
  border-color: #3f51b5;
  background-color: #f5f5f5;
}

.upload-zone {
  border: 2px dashed #aaa;
  padding: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.toolbar {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

 */

 canvas {
  border: 1px solid #ccc;
  cursor: crosshair;
  max-width: 100%;
  border-radius: 4px;
}
.example-spacer {
  flex: 1 1 auto;
}
